<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <h1> Contact </h1>
  <body>
   <p>contact the Ruby on Rails tutorial about sample app at
    <a href="http://www.railstutorial.org/#contact"> contact page</a>
    </p>
  </body>
</html>
